.Display{
    color: #fff;
    font-size: 1rem;
    text-align: center;
    border-bottom: 2px solid #0f1a61;
}
.Display .Heading{
    padding: 10px 0;
}
.Profile .Image{
    margin: auto;
    height: 120px;
    width: 120px;
    background-size: cover;
    border-radius: 50%;
}
.Name{
    padding: 5px 0;
    font-weight: 600;
}
.Place{
    padding: 0 0 5px 0;
    color: #aab4be;
}