.Conversation {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #091143;  
    color: #fff;
    display: flex;
    flex-flow: column;
}

.Heading {
    margin: 20px;
    font-size: 1.5rem;
}

.search{
    margin: 10px;
}

.search input[type=text] {
    outline: none;
    border: none;
    background-color: #324da5;
    width: 100%;
    height: 40px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
}
.search input[type=text]::placeholder {
    color: #a7aec4;
}
/* 
.search input[type=text]:focus {
    border: 1px solid #fff;
} */
.recent{
    margin-left: 5px;
    cursor: pointer;
}
.recent:hover{
    color: #ccc;
}
.new{
    cursor: pointer;
}
.new:hover{
    color: #ccc;
}
.opt{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}
.Chat{
    overflow-y: scroll;
    margin-right: -20px;
}