.Main{
    background-color: rgb(22, 22, 22);
    display: flex;
}
.Box1{
    width: 15%;
    background-color: rgb(51, 50, 50);
}
.Box2{
    width: 35%;
    background-color: rgb(63, 63, 63);
}
.Box3{
    width: 50%;
    background-color: rgb(102, 102, 102);
}
.ContactInfo{
    width: 250px;
    /* position: absolute; */
    /* right: 0; */
}