.Media{
    padding: 10px;
    border-bottom: 2px solid #0f1a61;
}
.Media .head{
    font-size: 1.2rem;
    font-weight: 400;
}
.AllImage{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    height: 72px;
    padding: 10px 0;
}
.image{
    background-size: cover;
    border-radius: 5px;
    margin: 3px 0;
    height: 70px;
    width: 70px;
}