.Options{
    padding: 10px;
}
.Options .head{
    font-weight: 400;
}
.Options .List{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 0;
    font-size: 0.8rem;
}
.List:hover .Option{
    color: #a7aec4;
}
.List .Icon{
    padding: 0 5px;
}
.Options li{
    list-style: none;
}