.MessageArea{
    height: 80%;
    overflow-y: scroll;
    padding: 0 10px;
    margin-right: -20px;
}
.Init{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #081ca4;
}
.MessageArea div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}